@import url(Base.css);
.header__topbar {
    width: 100%;
    height: 36px;
    background: #350a4e;
    position: absolute;
    z-index: 3;
    
}
.header__topbar__container {
    height: 100%;
}
.header__topbar__container--authercation {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
}
.header__topbar__container--authercation a {
    color: var(--white-color);
    margin: 0 5px;
}
.header__topbar__container--authercation a:hover {
    color: var(--yellow);
}
/*navbar*/
.header__navbar{
    position: absolute;
    z-index: 2;
    width: 100%;
    background: rgba(54, 19, 84, .6);
}
.header__navbar__container{
    text-transform: uppercase;
    padding: 40px 0;
    padding-top: 60px;
}
.header__navbar__container a, i {
    color: var(--white-color);
}
.header__navbar__container--logo a {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Lobster', cursive;
    
}
.header__navbar__container--list {
    text-align: right;
    font-weight: 600;
    margin: 0;
}
.header__navbar__container--list li {
    margin-right: 35px;
    position: relative;
}
.header__navbar__container--list a {
    font-size: 1rem;
}
.header__navbar__container--list a::after {
    display:block;
    position: absolute;
    left: -1px;
    bottom: -8px;
    width: calc(100% + 2px);
    height: 2px;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    content: '';
    opacity: 0;
    transition: all 300ms ease;
}

.header__navbar__container--list a:hover::after {
    opacity: 1;
}

.header__navbar__container--list a.active::after {
    opacity: 1;
}
.header__navbar__container--icon {
    justify-content: flex-end;
}
.header__navbar__container--icon i {
    margin: 0 0 0 50px;
    font-size: 1.4rem;
    cursor: pointer;
}
.header__navbar__container--icon i:hover {
    color: var(--yellow);
    
}
.header__navbar-user-menu {
    height: 100%;
    padding: 0 20px;
    margin: 0;
   
}
.header__navbar--user {
    text-transform: capitalize;
    position: absolute;
    top: calc(100% - 40px);
    right: 90px;
    height: 90%;
    min-width: 15%;
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 1px 3rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1; 
    opacity: 0;
    display: none;
    
}

/*Thanh tam giác*/
.header__navbar--user:before{
    content: "";
    border-style:  solid;
    border-width: 20px 25px;
    border-color: transparent transparent var(--white-color) transparent;
    /* transparent: trong suốt */
    position: absolute;
    top: -27px;
    right: 0;
}
.header__navbar__container--user i:hover .header__navbar--user {
    display: block;
    opacity: 1;
   
}
.header__navbar-user-menu-items {
    height: 30%;
    border-bottom: 0.5px solid rgb(218, 218, 218);
    align-items: center;
    text-align: center;
    display: flex;
    
}
.header__navbar-user-menu-items a {
    color: #51545f;
    font-size: 1rem;
    line-height: 40px;
}
.header__navbar-user-menu-items a:hover {
    color: var(--yellow);
}

/*home*/
.home__background {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)), url('../images/bg-books.jpg');
}

.home__container__slider {
    margin: 40px auto auto;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
}

.home__container__slider--content {
    color: var(--white-color);
    cursor: default;
}
.home__container__slider--content h1 {
    font-family: 'Beyond';
    font-size: 100px;
    color: #fff;
    text-align: center;
}

.home__container__slider--btn,
.item--btn {
    display: inline-block;
    height: 53px;
    border-radius: 27px;
    overflow: hidden;
    position: relative;
    margin-top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.home__container__slider--btn a,
.item--btn a {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 53px;
    padding-left: 46px;
    padding-right: 46px;
    white-space: nowrap;
    position: relative;
}

.btn__bgc {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: var(--bg-btn);
    transition: all 400ms ease;
    cursor: pointer;
}

.home__container__slider--btn:hover .btn__bgc,
.item--btn:hover .btn__bgc {
    left: -100%;
}

.home__container__slider--btn span,
.item--btn span {
    display: inline-block;
    vertical-align: middle;
    width: 5.75px;
    height: 5.63px;
    background: #fff;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 5px;
}

.home__container__slider--btn:first-child,
.item--btn:first-child {
    margin-left: 0;
}

.home__container__slider--btn span:nth-child(2),
.item--btn span:nth-child(2) {
    opacity: .6;
    margin-left: 0;
}

.home__container__slider--btn span:last-child,
.item--btn span:last-child {
    opacity: .4;
    margin-left: 0;
    margin-right: 0;
}
/*home_about*/
/*who we are*/
.Home__about__container--inform {
    position: relative;
}
.Home__about--title {
    color: #555;
    font-weight: 500;
}
.Home__about--brand {
    font-size: 2.8rem;
    color: #e43;
    font-weight: 700;
    font-family: 'Lobster', cursive;

}
.Home__about--inform {
    font-size: 1.2rem;
    color: #888;
   
}
.Home__about--btn {
    position: absolute;
    height: 53px;
    border-radius: 27px;
    overflow: hidden;
   
}

.Home__about--btn a {
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: var(--white-color);
    text-transform: uppercase;
    line-height: 53px;
    padding-left: 46px;
    padding-right: 46px;
    white-space: nowrap;
    z-index: 2;
}

.Home__about--btn span {
    display: inline-block;
    vertical-align: middle;
    width: 5.75px;
    height: 5.63px;
    background: var(--white-color);
    border-radius: 50%;
    margin-right: 2px;
    margin-top: -2px;
}

.Home__about--btn span:first-child {
    margin-left: 10px;
}

.Home__about--btn span:nth-child(2) {
    opacity: .6;
}

.Home__about--btn span:last-child {
    opacity: .4;
    margin-right: 0;
}

.Home__btn__bgc {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    z-index: -1;
    transition: all 400ms ease;
    display: block;
}

.Home__about--btn:hover .Home__btn__bgc {
    left: -100%;
}
.Home__image {
    position: relative;
    top: 0;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.Home__image:hover {
    top: -5px;
}
.Home__image--size {
    width: 100%;
    height: 350px;
}













/**/
/*Login Form*/
.global-authentication {
    height: 100%;
    display: flex;
    align-items:center;
    
}
.authentication {
    background-color: var(--white-color);
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}
.authentication-text {
    font-size: 1.8rem;
    font-weight: 800;
    display: flex;
    justify-content:center;
    margin-bottom: 40px;
    color: var(--violet);
}
.form-group {
   margin: 10px;
}
.authentication-form, .authentication-form:disabled{
    display:block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    margin-top: 5px;
}
.authentication-form:focus {
    color: #495057;
    border-color: var(--violet);
    outline: 0;
    box-shadow:none;
}
.authentication-img img{
    border-radius: 30px;
}
.authentication-btn {
    width: 100% !important;
}
.authentication-noaccount{
   display: flex;
   justify-content: center;
   margin-top: 10px;
   font-weight: 600;
   font-size: 1rem;
}
.authentication-noaccount a {
    margin-left: 5px;
}



/*Change Password*/

.changepass {
    border: 1px solid #999;
    min-height: 500px;
    width: 600px;
    box-shadow: 5px 5px 11px grey;
    background-color: white;
}

/* Package */

/*Features*/
.features {
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgb(243,246,249);
    position: relative;
    
}
.features__items {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}
.features__small-title {
    font-size: 1rem;
    color: #555;
    text-align: center;
}
.features__big-title {
    color: var(--violet);
    text-align: center;
    font-family: 'Lobster', cursive;
    font-weight: 700;
    margin-bottom: 50px;
    /*text-transform: uppercase;*/
}
.features__items-item-img__size {
    width: 100%;
    height: 500px;
    background-size: contain;
}
.features__items-item-info {
    display: inline-block;
}
.features__items-item-info__title {
    display:block;
    margin-top: 10px;
    text-decoration: none;
    color: #6610f2;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    margin: 10px 15px;
}
.features__items-item-info__title:hover {
    color: #e43;
}
.features__items-item-info__description {
    margin: 15px;
    color: #555;
}
.features__items-item-icon {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 0 0 20px 0;
}
.features__items-item-icon a {
    margin-left: 5px;
}
.meta-item {
    margin-right: 20px;
}
/*icon*/
.meta-item i {
    color: #e34;
    font-size: 1.1rem;
}
.meta-item span {
    color: #444;
    font-weight: 600;
}
/*slide features*/
.button-cicle {
    bottom: -20px !important;
    
}
.button-cicle [data-bs-target]  {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    z-index: 100;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

/*About*/
.About {
    height: 70vh;
    width: 100%;
    background: linear-gradient(rgba(64, 6, 97, 0.2), rgba(64, 6, 97, 0.2)), url(https://www.danvilleva.gov/ImageRepository/Document?documentID=25791) no-repeat;
    background-size: cover;
}
.intro__container {
    margin: 100px 0;

}
.intro__image img {
    width: 100%;

}
.intro__content  {
    width: 100%;
}
.intro__content--title  {
    color: #555;
    font-weight: 700;
    text-transform: uppercase;
    font-size: -webkit-xxx-large;
}

.tour__item--btn {
    position: relative;
    left: 100px;
    bottom: 0;
    display: inline-block;
    height: 53px;
    border-radius: 27px;
    overflow: hidden;
}

/*Contact*/
.Contact {
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(64, 6, 97, 0.2), rgba(64, 6, 97, 0.2)), url(https://th.bing.com/th/id/R.a4dbb0e2153cc2835c36fec6b4fe003c?rik=%2fvptZWlNy9F7tQ&pid=ImgRaw&r=0) no-repeat;
    background-size: cover;
    
}
.Contact__title {
    font-size: 72px;
    font-weight: 800;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}
.Contact__title h1 {
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
}

/*Phản hồi*/
.contact__container {
    margin: 100px 0;
}
.contact__container__form {
    
    position: relative;
    padding: 74px 48px 88px 48px;
    background: var(--border);
    border-radius: 7px;
}

.contact__container__form h2 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align:center;
}

.contact__form {
    margin-top: 52px;
}

.contact__form input {
    height: 48px;
    font-size: 12px;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border-bottom: solid 2px #e1e1e1;
}

.contact__form textarea {
    height: 126px;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 19px;
    background: transparent;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    border-bottom: solid 2px #e1e1e1;
    padding-top: 11px;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
    color: var(--white-color);
}

.contact_form_name,
.contact_form_email {
    width: calc((100% - 30px) / 2);
}

.contact_form_name {
    margin-right: 20px;
}

.contact_form_subject {
    width: 100%;
    margin-top: 12px;
}

.form_submit_button {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 53px;
    padding: 0 29px;
    background: #31124b;
    transform: translateY(15px);
    border: none;
    outline: none;
    margin-top: 37px;
    cursor: pointer;
    display: inline-block;
    height: 53px;
    border-radius: 27px;
    overflow: hidden;
}

.form_submit_button:hover {
    opacity: .8;
}
/*Products*/
.Product {
    height: 70vh;
    width: 100%;
    background: linear-gradient(rgba(64, 6, 97, 0.4), rgba(64, 6, 97, 0.4)), url(https://songhantourist.com/upload/articles-images/images/Kdokawa_from%20Kadokawa%20Culture%20Museum.jpeg) no-repeat;
    background-size: cover;
}
.Product__catalogue {
    height: 200px;
    width: 100%;
    background: var(--bg-section);
    position: relative;
}
.Product__catalogue--container, 
.Product__search {
    height: 100%;
}
.Product__catalogue__container {
    position: absolute;
    bottom: 100%; 
}
.Product__catalogue__container .row {
    justify-content: space-between;
    align-items: center;
    height: 94px;
    margin-left: 1px;
    flex-wrap: nowrap;
    
}
.Product__catalogue__container__tab {
    display: flex;
    text-align: center;
    align-items: center;
    width: calc(100% - 30px);
    height: 100%;
    background-color: var(--white-color);
    transition: all .3s ease;
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    flex-grow: 1;
    justify-content: center;
}
.Product__catalogue__container__tab:first-child {
    border-top-left-radius: 94px;
    padding-left: 7px;
}

.Product__catalogue__container__tab:last-child {
    border-top-right-radius: 94px;
    padding-right: 7px;
}

.Product__catalogue__container__tab:hover,
.Product__catalogue__container__tab:active,
.Product__catalogue__container__tab.active {
    background-color: var(--yellow);
    color: var(--white-color);
    cursor: pointer;
}
.Product__catalogue__container__tab span {

}
.Product__search__container {
    height: 100%;
    align-items: center;
}
.Product__search__container--item {
    margin-bottom: 10px;
}
.Product__search__container--item span {
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 600;
}
.Product__search__container--search__txt {
    width: 100%;
    height: 46px;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #929191;
}
.Product__search__container--search--dd {
    width: 100%;
    height: 46px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #929191
}
.Product__search__container--search--dd option {
    width: 100%;
    height: 71px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #929191
}
.Product__search__container--btn {
    height: 53px;
    background-color: var(--btn-black);
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 53px;
    line-height: 53px;
    margin-top: 30px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.Product__search__container--btn a {
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 10px;
}
.Product__search__container--btn:hover {
    opacity: .9;
}
.Product__search__container--btn span {
    display: inline-block;
    vertical-align: middle;
    width: 5.75px;
    height: 5.63px;
    background: #fff;
    border-radius: 50%;
    margin-right: 2px;
    margin-top: 1%;
}

.Product__search__container--btn span:nth-child(3) {
    opacity: .6;
    margin-left: 0;
}

.Product__search__container--btn span:last-child {
    opacity: .4;
    margin-left: 0;
    margin-right: 0;
}
/*Sản phẩm*/
.Product__offers {
    margin-top: 100px;
    margin-bottom: 100px;
}
.Product__offers__container--item {
    position: relative;
    top: 0;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.Product__offers__container--item:hover {
    top: -5px;
}
.Product__offers__container--item__img {
    width: 100%;
    height: 300px;
}
.Product__offers__container--item__inform h4 {
    font-weight: 700;
    color: var(--violet);
    margin: 10px  0 10px 10px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
   
}
.Product__offers__container--item__inform p {
    margin: 10px;
    color: #555;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.Product__offers__container--item__price {
    margin: 15px;
}
.item__icons i {
    margin-bottom: 10px;
    font-size: 0.8rem;
}
.Product__offers__container--item__btn {
    height: 100%;
    align-self:center;
}
.Product__offers__container--item__btn i {
    color: var(--white-color);
}

/*pagination*/
.Product__offers__pagination {
    display:flex;
    justify-content: center;
    margin: 50px 0;
    
}
.Product__offers__pagination a {
    color: #ccc;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    --height: 30px;
    min-width: var(--height);
    margin: 0 15px;
    text-align: center;
    line-height: var(--height);
    height: var(--height);
    border-radius: 50%;
    
}
.Product__offers__pagination i {
    color: #ccc;
    
}
.Product__offers__pagination i:hover,
.Product__offers__pagination a:hover {
    color: var(--violet);
   
}

.Product__offers__pagination--item.active a {
    background-color: var(--yellow);
    color: var(--white-color);
    
}
/*detail*/
.Detail {
    margin: 50px 0;
}
.Detail__container.row {
    padding-left: 0 !important;
}
.Detail__container__image {
   align-items: center;
}
.Detail__container__image--seclect img {
    
    margin-bottom: 5px;
    width: 100%
}
.Detail__container__image--banner {
   overflow: hidden;
   display: flex;
   transition: all 0.5s ease;
}
.Detail__container__image--banner img {
    width: 100%;
    height: 100%;
    margin-right: 20px;
}
    
.img-items{
    cursor: pointer;
    opacity: 0.7;
}
.img-items:hover{
    opacity: 1;
  
}

/*detail description*/
.Detail__container__content {
    padding-left: 30px;
}
.Detail__title {
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--violet);
    font-weight: 700;
    line-height:  1;
    font-family: "Trump Gothic East Bold",'Helvetica Neue',Helvetica,Arial,sans-serif;

}
.Detail__line {
    width: 80px;
    height: 4px;
    background-color: #777;
    border-radius: 10px;
}
.Detail__genre {
    background-image: var(--bg-section);
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    width: 50%;
    padding: 0 0 0 4px;
    color: var(--white-color);
    line-height: 1.4;
    font-family: "Trump Gothic East Bold",'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.Detail__rating i {
    color: var(--yellow);
   
}
.Detail__rating i:first-child{
    opacity: .6;
}
.Detail__rating i:nth-child(2) {
    opacity: .75;
}
.Detail__rating i:nth-child(3) {
    opacity: .85;
}
.Detail__price {
    margin: 20px 0;
    color: var(--text-color);
    font-weight: 700;
    font-size: 1rem;
    line-height: 0.5;
}
.Detail__price--old span{
    opacity: .7;
    color: red;
    font-weight: 400;
    text-decoration: line-through;
}
.Detail__price--new span {
    font-weight: 400;
    color: var(--primary-color);
    font-size: 1.5rem;
}
.Detail__description--title {
    margin: 30px 0;
    color:var(--text-color);
    font-weight: 600;
    font-family: "Trump Gothic East Bold",'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.Detail__description--detail__table {
    padding-left: 10px;
}
.Detail__purchase {
    margin: 30px 0;

}
.txt_soluong,
.btn_addcart,
.btn_buy{

    border: 1.5px solid #ddd;
    border-radius: 25px;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    
}

.txt_soluong {
    width: 60px;
}
.btn_addcart {
    background-image: var(--bg-section);
    color: var(--white-color);
}
.btn_buy {
    border: 2px solid var(--btn-black);
    color: var(--btn-black);
    /*background-color: var(--btn-black);*/
}
.Detail__purchase .btn:hover {
    opacity: .9;
}
.btn_addcart:hover {
    color: var(--white-color);
}
.btn_buy:hover {
    background-color: var(--btn-black);
    color: var(--white-color);
}
/*slide detail products*/
.Another__products {
    background-image: var(--bg-section);
    height: 800px;
    align-items: center;
    align-self: center;
    display: grid;
}
.Another__products__title {
    text-transform: uppercase;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-top: 30px;
    font-family: 'Lobster', cursive;
    letter-spacing: .08em;  
}
/*.Another__products__container {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    align-self: center;
    height: 600px;
    background-color: #fff;
}*/
.carousel-control-prev-icon {
    border: 2px solid;
    border-radius: 10px;
    margin-right: 50px !important;
}
.carousel-control-next-icon {
    border: 2px solid;
    border-radius: 10px;
    margin-left: 50px !important;
}


/*Cart*/
.Cart {
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(64, 6, 97, 0.2), rgba(64, 6, 97, 0.2)), url(https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2020/08/28/Pictures/_df443a94-e8dd-11ea-b931-a708c0ef05a7.jpg) no-repeat;
    background-size: cover;
    
}
.Cart__title {
    font-size: 72px;
    font-weight: 800;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px;
}
.Cart__title h1 {
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
}
.Cart__Product__table {
    text-align: center;
}
.Cart__Product__table__nav {
    background-image: var(--bg-section);
    height: 50px;
    vertical-align: middle !important;
}
.Cart__Products__title {
    font-size: 1rem;
    color: var(--white-color);
    text-transform: uppercase;
    
}
.Cart__Products__tab td {
    vertical-align: middle;
    color: var(--text-color);
    
}
.Cart__Products__tab h6 {
    font-size: 1rem;
    margin: 0;
}
.Cart__Product__tab--counter {
    outline: none;
    border-radius: 8px;
    border: 1px solid #999;
    padding: 0 0 0 10px;
    width: 50px;
    height: 35px;
}
.Cart__Product__tab--delete {
    background: none;
    border: none;
}
.Cart__Product__tab--delete i {
    font-size: 1.5rem;
    color: #555;
}
.Cart__Products__checkout ul{
    border: 2px solid #ebebeb;
    background: #f3f3f3;
    padding-left:25px;
    padding-right:25px;
    padding-top:16px;
    padding-bottom: 20px;
}
.Cart__Products__checkout ul li{
    list-style: none;
    font-size:16px;
    font-weight: bold;
    color:#252525;
    text-transform: uppercase;
    overflow: hidden;
}
.Cart__Products__checkout ul li.subtotal{
    font-weight: bold;
    text-transform: capitalize;
    border-bottom:1px solid #fff;
    padding-bottom: 14px;
}
.Cart__Products__checkout ul li.subtotal span{
    font-weight: bold;
}
.Cart__Products__checkout ul li.cart-total{
    padding-top: 10px
}
.Cart__Products__checkout ul li.cart-total span{
    color:#e7ab3c;
}
.Cart__Products__checkout ul li span{
    float:right;
}
.Cart__Products__checkout .proceed-btn{
    font-size:15px;
    font-weight: bold;
    color:#fff;
    background:#252525;
    text-transform: uppercase;
    padding:15px 25px 14px 25px;
    display: block;
    text-align: center;
}
/**/
.Cart__Products__user--infor h5 {
    background: var(--bg-header);
    color: var(--white-color);
    font-weight: 600;
    text-transform: uppercase;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content:center;
    align-items:center;
}
.Cart__Products__user--infor i {
    margin-right: 10px;
    color: var(--primary-color);
}
.Cart__Products__user--infor ul{
    border: 2px solid #ebebeb;
    background: #f3f3f3;
    padding-left:25px;
    padding-right:25px;
    padding-top:16px;
    padding-bottom: 20px;
    position:relative;
}
.Cart__Products__user--infor span {
    color: var(--text-color);
}
.Cart__Products__user__btn--edit {
    background: none;
    border:none;
    position:absolute;
    top: 5px;
    right:0;
}
.Cart__Products__user__btn--edit i {
    color: #999;
}
.Cart__Products__user__btn--edit i:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.Cart__Products__inform--edit {
    width: 302px;
    height: 150px;
    border: 1px solid #888;
    outline: none;
    padding: 20px;
}

.Cart__Products__inform--edit__btn {
    margin-top: 8px;
   
    border-radius: 2px;
}

/*footer*/
.footer {
    background-color: #31124b;
    border-top: 2px solid #e43;
}
.footer__heading {
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 600;
}
.footer__list{
    padding: 0;
   
}
.footer__list-item{
    list-style: none;
   
}
.footer__list-link{
    text-decoration: none;
    line-height: 1.5rem;
    color: #aaa;
    font-size: 0.8rem;
    
}
.footer__list-link:hover {
    color: var(--yellow);
}
.footer__list-flow {
    display: flex;
    padding: 0;
    
}
.footer__list-flow i {
    font-size: 2rem;
    margin-right: 5px;
}
.footer__container__about--social ul {
    margin: 0;
    padding: 0;

}
.footer__container__about--social ul li {
    display: inline-block;
    width: 31px;
    height: 31px;
    border: solid 1px #fa9e1b;
    border-radius: 50%;
    text-align: center;
    transition: all 200ms ease;
    margin: 0 5px 0 0;
}

.footer__container__about--social li:hover {
    background: var(--yellow);
}

.footer__container__about--social li:hover i {
    color: var(--black);
}
.footer__container__about--social i {
    display: block;
    position: relative;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    transition: all 200ms ease;
}

